<nav
  class="h-[72px] z-50 flex justify-between items-center bg-[#E7E7E9]"
  style="box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25)"
>
  <div
    class="flex gap-[30px] pl-[30px] h-[72px] items-center text-[20px] sections"
  >
    <a
      routerLink="/mentor/"
      routerLinkActive="text-[#3591C9]"
      [routerLinkActiveOptions]="{ exact: true }"
      >Trainees</a
    >
    <a routerLink="/mentor/attendance" routerLinkActive="text-[#3591C9]"
      >Attendance</a
    >
    <a routerLink="/mentor/standings" routerLinkActive="text-[#3591C9]"
      >Standing</a
    >
    <a routerLink="/mentor/tracking" routerLinkActive="text-[#3591C9]"
      >Tracking</a
    >
    <a routerLink="/mentor/tasks" routerLinkActive="text-[#3591C9]">Tasks</a>
    <a routerLink="/mentor/practice" routerLinkActive="text-[#3591C9]"
      >Practice</a
    >
  </div>
  <div class="flex h-[72px] items-center gap-3 mr-[25px]">
    <button>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.0225 2.90967C8.71253 2.90967 6.02253 5.59967 6.02253 8.90967V11.7997C6.02253 12.4097 5.76253 13.3397 5.45253 13.8597L4.30253 15.7697C3.59253 16.9497 4.08253 18.2597 5.38253 18.6997C9.69253 20.1397 14.3425 20.1397 18.6525 18.6997C19.8625 18.2997 20.3925 16.8697 19.7325 15.7697L18.5825 13.8597C18.2825 13.3397 18.0225 12.4097 18.0225 11.7997V8.90967C18.0225 5.60967 15.3225 2.90967 12.0225 2.90967Z"
          stroke="#0A0A0A"
          stroke-width="1.6"
          stroke-miterlimit="10"
          stroke-linecap="round"
        />
        <path
          d="M13.8719 3.1997C13.5619 3.1097 13.2419 3.0397 12.9119 2.9997C11.9519 2.8797 11.0319 2.9497 10.1719 3.1997C10.4619 2.4597 11.1819 1.9397 12.0219 1.9397C12.8619 1.9397 13.5819 2.4597 13.8719 3.1997Z"
          stroke="#0A0A0A"
          stroke-width="1.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M15.0195 19.0603C15.0195 20.7103 13.6695 22.0603 12.0195 22.0603C11.1995 22.0603 10.4395 21.7203 9.89953 21.1803C9.35953 20.6403 9.01953 19.8803 9.01953 19.0603"
          stroke="#0A0A0A"
          stroke-width="1.6"
          stroke-miterlimit="10"
        />
      </svg>
    </button>
    <!-- <button>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.1586 10.87C12.0586 10.86 11.9386 10.86 11.8286 10.87C9.44859 10.79 7.55859 8.84 7.55859 6.44C7.55859 3.99 9.53859 2 11.9986 2C14.4486 2 16.4386 3.99 16.4386 6.44C16.4286 8.84 14.5386 10.79 12.1586 10.87Z"
          stroke="#0A0A0A"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M7.15875 14.56C4.73875 16.18 4.73875 18.82 7.15875 20.43C9.90875 22.27 14.4188 22.27 17.1688 20.43C19.5888 18.81 19.5888 16.17 17.1688 14.56C14.4288 12.73 9.91875 12.73 7.15875 14.56Z"
          stroke="#0A0A0A"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button> -->
    <img
      class="aspect-ratio-img"
      style="
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        display: block;
      "
      [src]="currentUser.photoUrl || './../../../../../assets/img/user.jpeg'"
      alt="Avatar"
    />

    <div>
      <h2 class="text-base font-medium text-[#979797]">
        {{ currentUser.firstName }}
        {{ currentUser.middleName }}
      </h2>
      <div class="relative inline-block text-left w-fit">
        <button
          (click)="showRoles()"
          class="inline-flex items-center w-full py-1 font-medium text-black pe-6"
        >
          <span>Mentor</span>

          <svg
            [ngClass]="isShow ? 'rotate-180' : ''"
            class="w-4 h-4 ml-2 transition-transform"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            ></path>
          </svg>
        </button>

        <div
          [ngClass]="isShow ? 'block' : 'hidden'"
          class="absolute mt-2 transition-all duration-500 bg-white border border-gray-200 rounded-md shadow-lg top-6 right-2 w-fit"
        >
          <div
            class="py-1 text-sm text-gray-700 w-fit"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="options-menu"
          >
            @for (item of currentUser.roles; track $index; let last = $last) {

            <button
              (click)="goSpecificRole(item)"
              class="block w-full px-4 py-2 font-medium transition-colors hover:text-activeLink text-start"
              role="menuitem"
              [ngClass]="last ? 'border-none' : 'border-b border-[#3591C9]'"
            >
              {{ item }}
            </button>
            }
          </div>
        </div>
      </div>
    </div>

    <button
      (click)="authService.logout()"
      class="flex items-center w-full self-end py-6 gap-x-3.5 text-xl font-medium text-sidebarColor hover:text-activeLink transition-colors"
    >
      <svg
        width="34"
        height="32"
        viewBox="0 0 34 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M28.3346 15.9999H14.8763M25.5013 19.9999L29.7513 15.9999L25.5013 11.9999M18.418 9.33325V7.99992C18.418 7.29267 18.1195 6.6144 17.5881 6.1143C17.0568 5.6142 16.3361 5.33325 15.5846 5.33325H8.5013C7.74986 5.33325 7.02919 5.6142 6.49783 6.1143C5.96648 6.6144 5.66797 7.29267 5.66797 7.99992V23.9999C5.66797 24.7072 5.96648 25.3854 6.49783 25.8855C7.02919 26.3856 7.74986 26.6666 8.5013 26.6666H15.5846C16.3361 26.6666 17.0568 26.3856 17.5881 25.8855C18.1195 25.3854 18.418 24.7072 18.418 23.9999V22.6666"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</nav>
