<div class="mt-16 sm:mt-44 bg-[#182946] relative rounded-[30px] min-h-44 sm:min-h-60 p-6">
  <!-- Header Section -->
  <div class="w-full">
    <!-- Mentor Title -->
    <div class="header">
      <h1 class="text-white text-4xl px-10 font-bold">Mentor</h1>
    </div>

    <!-- Mentor Information Card -->
    <div class="absolute left-1/2 transform -translate-x-1/2 top-1/2">
      <div class="bg-white rounded-[20px] shadow-lg w-[16.5rem] sm:w-[31.5rem] min-h-fit">
        <div class="flex flex-col items-center p-3 sm:p-6 h-full">
          <!-- Mentor Photo -->
          <img
            [src]="mentorData.photoUrl ? mentorData.photoUrl : 'assets/img_trainee/profile-photo.png'"
            loading="lazy"
            alt="Mentor photo"
            class="w-24 h-24 rounded-full mb-4 object-cover"
          />

          <!-- Mentor Name -->
          <h3 class="text-[1.25rem] sm:text-2xl font-semibold">
            {{ mentorData.firstName ? (mentorData.firstName + ' ' + mentorData.middleName) : 'Mentor Name' }}
          </h3>

          <!-- Mentor Description -->
          <div class="my-3 text-[14px] sm:text-xl font-bold">
            <p class="long-text line-clamp-2 sm:line-clamp-none">
              I'm ChatGPT, an AI language model developed by OpenAI. My role is to assist with information, answer questions, and engage in conversations. Trained on diverse data, I aim to provide useful and accurate responses. I'm here to help with a variety of topics and make our interactions engaging.
            </p>
            <p *ngIf="responsive.isSmallScreen" class="underline text-center cursor-pointer" (click)="toggleText()">
              <span *ngIf="showMore">
                see more
              </span>
              <span *ngIf="!showMore">
                see less
              </span>
            </p>
          </div>

          <!-- Mentor Details -->
          <div class="flex flex-col gap-1 sm:gap-4 justify-between items-center self-start h-full">
            <!-- College -->
            <p class="font-semibold w-full flex items-center gap-1 sm:gap-3">
              <img src="assets/img_trainee/collage.svg" alt="College icon">
              <span class="text-xl">College :</span>
              <span class="font-bold text-xl text-[#E69C24]">
                {{ mentorData.college ? mentorData.college : 'Not Available' }}
              </span>
            </p>

            <!-- Codeforces Handle -->
            <p class="font-semibold w-full flex items-center gap-1 sm:gap-3">
              <img src="assets/img_trainee/chart.svg" alt="Codeforces icon">
              <span class="text-xl">Codeforces Handle :</span>
              <span class="font-bold text-xl text-[#E69C24]">
                {{ mentorData.codeForceHandle ? mentorData.codeForceHandle : 'Not Available' }}
              </span>
            </p>

            <!-- Email -->
            <p class="font-semibold w-full text-nowrap flex items-center gap-1 sm:gap-3">
              <i class="fa-regular fa-envelope"></i>
              <span class="text-xl">Email :</span>
              <span class="font-bold text-xl text-[#E69C24]">
                {{ mentorData.email ? mentorData.email : 'Not Available' }}
              </span>
            </p>

            <!-- Phone Number -->
            <p class="font-semibold w-full text-nowrap flex items-center gap-1 sm:gap-3">
              <i class="fa-solid fa-phone"></i>
              <span class="text-xl">Phone Number :</span>
              <span class="font-bold text-xl text-[#E69C24]">
                {{ mentorData.phoneNumber ? mentorData.phoneNumber : 'Not Available' }}
              </span>
            </p>

            <!-- Facebook -->
            <p class="font-semibold w-full text-nowrap flex items-center gap-1 sm:gap-3">
              <i class="fa-brands fa-facebook"></i>
              <span class="text-xl">Facebook :</span>
              <span class="font-bold text-xl text-[#E69C24]">
                {{ mentorData.facebookLink ? mentorData.facebookLink : 'Not Available' }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
