.bg-img{
  background-image: url('../../../../../../assets/img_trainee/marvel-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.head{
font-size: 2.5rem;
font-weight: 700;
text-align: left;
color: #E69C24;
}
.next,.prev{
  cursor: pointer!important;
}
