@if (showSideInfo) {
<div
  (click)="handleOverlayClick($event)"
  class="fixed inset-0 z-[150] flex items-center justify-end bg-black bg-opacity-50"
>
  <div
    [ngClass]="showSideInfo ? 'translate-y-0' : 'translate-y-full'"
    class="relative flex flex-col items-center justify-center w-full h-screen max-w-md p-6 transition-transform duration-700 ease-in-out transform bg-white shadow-lg rounded-xl"
  >
    <span
      (click)="cancel()"
      class="absolute text-lg font-semibold transition-colors cursor-pointer hover:text-red-500"
      >_</span
    >
    @if (isLoading) {
    <div class="bg-opacity-60">
      <div class="flex items-center">
        <div
          class="w-16 h-16 border-8 border-blue-600 border-dashed rounded-full animate-spin"
        ></div>
      </div>
    </div>
    }@else { }
  </div>
</div>

}
