<section class="mt-10 relative overflow-hidden">
  <div class="right-circale w-fit absolute right-0">
  </div>
  <div class="content flex items- justify-around mt-10 max-w-[1250px]">
    <div class="flex flex-col">
      <h1>
        ABOUT
        US
      </h1>
      <img src="assets/img_public/arrow-down.svg" class="size-28 self-end">
    </div>
    <p>
      Here you can learn about our community and be a part of it! If you are looking for a community that provides you with special training and also fun events and contests , then we are the one!
    </p>
  </div>
  <div class="about-img mt-6 relative">
    <img src="assets/img_public/about-us.png" class="w-1/2 mx-auto" alt="">
  </div>
</section>
