
<section class="about-us relative mt-6 sm:mt-10" id="about-us">
  <!-- Decorative Circle -->
  <div class="right-circale absolute"></div>

  <!-- Content Area with Text and Image -->
  <div class="content flex items-center justify-between sm:mt-10 sm:max-w-[900px] sm:mr-auto sm:ml-28">
    <div class="flex flex-col">
      <h1>ABOUT </h1>
      <h1>US</h1>
      <!-- Optimized Arrow Image -->
      <img
        ngSrc="assets/img_public/arrow-down.svg"
        width="28"
        height="28"
        class="size-6 font-extrabold sm:size-28 self-end"
        alt="Arrow Down"
        priority>
    </div>

    <p class="">
      Here you can learn about our community and be a part of it! If you are looking for a community that provides you with special training and also fun events and contests, then we are the one!
    </p>
  </div>

  <!-- About Us Image with Decorations -->
  <div class="about-img mt-6 relative">
    <img
      ngSrc="assets/img_public/about-us.png"
      width="600"
      height="400"
      class="w-1/2 mx-auto"
      alt="Team of ICPC"
      priority>
  </div>
</section>

