<div class="mt-96 pt-24">
<div class="custom-buttons mb-14 w-full flex items-center justify-center gap-10">
  <button (click)="prevSlide()">
    <img src="assets/img_trainee/left_arrow.svg" alt="previuos">
  </button>
  <span class=" text-5xl font-bold">Heads</span>
  <button (click)="nextSlide()">
     <img src="assets/img_trainee/right_arrow.svg" alt="Next">
  </button>
</div>
<swiper
      [config]="config"
      (swiper)="onSwiper($event)"
    >
      <ng-template swiperSlide>
         <div class="card w-full h-fit relative  overflow-hidden">
                  <div class="bg-img absolute w-80 h-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -z-10  ">
                    <img src="assets/img_trainee/Blob (2).png" class="w-full" alt="">
                  </div>
                  <div class="flex flex-col items-center justify-between  border rounded-[20px] p-7 ">
                    <div class="img-profile flex flex-col items-center">
                      <img src="assets/img_trainee/profile-2.png" class="size-28 rounded-full mb-4 object-cover" alt="">
                      <p class=" font-bold text-2xl">hassan</p>
                    </div>
                    <div class="flex flex-col items-center">
                      <p class="font-semibold w-full">College <span class="font-bold text-xl min-w-full text-[#5D326B] ml-3">Information Technology</span></p>
                      <p class="font-semibold w-full text-nowrap">CodeforceHandle <span class="font-bold text-xl ml-3 min-w-full text-[#5D326B]">Name_Mentor148</span></p>
                      <p class="font-semibold w-full text-nowrap flex items-center"><i class="fa-regular fa-envelope mr-2"></i>Email <span class="font-bold text-xl ml-3 text-[#5D326B]">namementor148&#64;gmail.com</span></p>

                    </div>
                  </div>


                </div>
      </ng-template>
      <ng-template swiperSlide>
         <div class="card w-full h-fit relative  overflow-hidden">
                  <div class="bg-img absolute w-80 h-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -z-10  ">
                    <img src="assets/img_trainee/Blob (2).png" class="w-full" alt="">
                  </div>
                  <div class="flex flex-col items-center justify-between  border rounded-[20px] p-7 ">
                    <div class="img-profile flex flex-col items-center">
                      <img src="assets/img_trainee/profile-2.png" class="size-28 rounded-full mb-4 object-cover" alt="">
                      <p class=" font-bold text-2xl">hassan</p>
                    </div>
                    <div class="flex flex-col items-center">
                      <p class="font-semibold w-full">College <span class="font-bold text-xl min-w-full text-[#5D326B] ml-3">Information Technology</span></p>
                      <p class="font-semibold w-full text-nowrap">CodeforceHandle <span class="font-bold text-xl ml-3 min-w-full text-[#5D326B]">Name_Mentor148</span></p>
                      <p class="font-semibold w-full text-nowrap flex items-center"><i class="fa-regular fa-envelope mr-2"></i>Email <span class="font-bold text-xl ml-3 text-[#5D326B]">namementor148&#64;gmail.com</span></p>

                    </div>
                  </div>


                </div>
      </ng-template>
      <ng-template swiperSlide>
         <div class="card w-full h-fit relative  overflow-hidden">
                  <div class="bg-img absolute w-80 h-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -z-10  ">
                    <img src="assets/img_trainee/Blob (2).png" class="w-full" alt="">
                  </div>
                  <div class="flex flex-col items-center justify-between  border rounded-[20px] p-7 ">
                    <div class="img-profile flex flex-col items-center">
                      <img src="assets/img_trainee/profile-2.png" class="size-28 rounded-full mb-4 object-cover" alt="">
                      <p class=" font-bold text-2xl">hassan</p>
                    </div>
                    <div class="flex flex-col items-center">
                      <p class="font-semibold w-full">College <span class="font-bold text-xl min-w-full text-[#5D326B] ml-3">Information Technology</span></p>
                      <p class="font-semibold w-full text-nowrap">CodeforceHandle <span class="font-bold text-xl ml-3 min-w-full text-[#5D326B]">Name_Mentor148</span></p>
                      <p class="font-semibold w-full text-nowrap flex items-center"><i class="fa-regular fa-envelope mr-2"></i>Email <span class="font-bold text-xl ml-3 text-[#5D326B]">namementor148&#64;gmail.com</span></p>

                    </div>
                  </div>


                </div>
      </ng-template>
      <ng-template swiperSlide>
         <div class="card w-full h-fit relative  overflow-hidden">
                  <div class="bg-img absolute w-80 h-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -z-10  ">
                    <img src="assets/img_trainee/Blob (1).png" class="w-full" alt="">
                  </div>
                  <div class="flex flex-col items-center justify-between  border rounded-[20px] p-7 ">
                    <div class="img-profile flex flex-col items-center">
                      <img src="assets/img_trainee/profile-2.png" class="size-28 rounded-full mb-4 object-cover" alt="">
                      <p class=" font-bold text-2xl">hassan</p>
                    </div>
                    <div class="flex flex-col items-center">
                      <p class="font-semibold w-full">College <span class="font-bold text-xl min-w-full text-[#5D326B] ml-3">Information Technology</span></p>
                      <p class="font-semibold w-full text-nowrap">CodeforceHandle <span class="font-bold text-xl ml-3 min-w-full text-[#5D326B]">Name_Mentor148</span></p>
                      <p class="font-semibold w-full text-nowrap flex items-center"><i class="fa-regular fa-envelope mr-2"></i>Email <span class="font-bold text-xl ml-3 text-[#5D326B]">namementor148&#64;gmail.com</span></p>

                    </div>
                  </div>


                </div>
      </ng-template>
      <ng-template swiperSlide>
         <div class="card w-full h-fit relative  overflow-hidden">
                  <div class="bg-img absolute w-80 h-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -z-10  ">
                    <img src="assets/img_trainee/Blob.png" class="w-full" alt="">
                  </div>
                  <div class="flex flex-col items-center justify-between  border rounded-[20px] p-7 ">
                    <div class="img-profile flex flex-col items-center">
                      <img src="assets/img_trainee/profile-2.png" class="size-28 rounded-full mb-4 object-cover" alt="">
                      <p class=" font-bold text-2xl">hassan</p>
                    </div>
                    <div class="flex flex-col items-center">
                      <p class="font-semibold w-full">College <span class="font-bold text-xl min-w-full text-[#5D326B] ml-3">Information Technology</span></p>
                      <p class="font-semibold w-full text-nowrap">CodeforceHandle <span class="font-bold text-xl ml-3 min-w-full text-[#5D326B]">Name_Mentor148</span></p>
                      <p class="font-semibold w-full text-nowrap flex items-center"><i class="fa-regular fa-envelope mr-2"></i>Email <span class="font-bold text-xl ml-3 text-[#5D326B]">namementor148&#64;gmail.com</span></p>

                    </div>
                  </div>


                </div>
      </ng-template>
      <ng-template swiperSlide>
         <div class="card w-full h-fit relative  overflow-hidden">
                  <div class="bg-img absolute w-80 h-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -z-10  ">
                    <img src="assets/img_trainee/Blob (2).png" class="w-full" alt="">
                  </div>
                  <div class="flex flex-col items-center justify-between  border rounded-[20px] p-7 ">
                    <div class="img-profile flex flex-col items-center">
                      <img src="assets/img_trainee/profile-2.png" class="size-28 rounded-full mb-4 object-cover" alt="">
                      <p class=" font-bold text-2xl">hassan</p>
                    </div>
                    <div class="flex flex-col items-center">
                      <p class="font-semibold w-full">College <span class="font-bold text-xl min-w-full text-[#5D326B] ml-3">Information Technology</span></p>
                      <p class="font-semibold w-full text-nowrap">CodeforceHandle <span class="font-bold text-xl ml-3 min-w-full text-[#5D326B]">Name_Mentor148</span></p>
                      <p class="font-semibold w-full text-nowrap flex items-center"><i class="fa-regular fa-envelope mr-2"></i>Email <span class="font-bold text-xl ml-3 text-[#5D326B]">namementor148&#64;gmail.com</span></p>

                    </div>
                  </div>


                </div>
      </ng-template>

    </swiper>


</div>
