<div class="flex flex-col md:flex-row p-6  h-full">
    <!-- Sidebar Section -->
    <div class="w-full md:w-1/4 flex flex-col items-center bg-white p-4 shadow-lg rounded-lg">
      <!-- Profile Image -->
      <div class="relative">
        <img [src]="img?img:'./../../../../../assets/img/user.jpeg'" class="w-28 h-28 rounded-full" alt="Profile Image">
        <button class="absolute bottom-0 right-1 p-1 bg-blue-500 text-white rounded-full hover:bg-blue-600">
            <svg width="20" height="20" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="30" cy="30" r="30" fill="#3D91C7"/>
                <path opacity="0.4" d="M48 50H12C11.18 50 10.5 49.32 10.5 48.5C10.5 47.68 11.18 47 12 47H48C48.82 47 49.5 47.68 49.5 48.5C49.5 49.32 48.82 50 48 50Z" fill="white"/>
                <path opacity="0.4" d="M44.0392 12.9593C40.1592 9.07934 36.3592 8.97934 32.3792 12.9593L29.9592 15.3793C29.7592 15.5793 29.6792 15.8993 29.7592 16.1793C31.2792 21.4793 35.5192 25.7193 40.8192 27.2393C40.8992 27.2593 40.9792 27.2793 41.0592 27.2793C41.2792 27.2793 41.4792 27.1993 41.6392 27.0393L44.0392 24.6193C46.0192 22.6593 46.9792 20.7593 46.9792 18.8393C46.9992 16.8593 46.0392 14.9393 44.0392 12.9593Z" fill="white"/>
                <path d="M37.2206 29.0616C36.6406 28.7816 36.0806 28.5016 35.5406 28.1816C35.1006 27.9216 34.6806 27.6416 34.2606 27.3416C33.9206 27.1216 33.5206 26.8016 33.1406 26.4816C33.1006 26.4616 32.9606 26.3416 32.8006 26.1816C32.1406 25.6216 31.4006 24.9016 30.7406 24.1016C30.6806 24.0616 30.5806 23.9216 30.4406 23.7416C30.2406 23.5016 29.9006 23.1016 29.6006 22.6416C29.3606 22.3416 29.0806 21.9016 28.8206 21.4616C28.5006 20.9216 28.2206 20.3816 27.9406 19.8216C27.6606 19.2216 27.4406 18.6416 27.2406 18.1016L14.6806 30.6616C14.4206 30.9216 14.1806 31.4216 14.1206 31.7616L13.0406 39.4216C12.8406 40.7816 13.2206 42.0616 14.0606 42.9216C14.7806 43.6216 15.7806 44.0016 16.8606 44.0016C17.1006 44.0016 17.3406 43.9816 17.5806 43.9416L25.2606 42.8616C25.6206 42.8016 26.1206 42.5616 26.3606 42.3016L38.9206 29.7416C38.3606 29.5416 37.8206 29.3216 37.2206 29.0616Z" fill="white"/>
                </svg>
                                
        </button>
      </div>
      <!-- Sidebar Navigation -->
      <div class="mt-6 text-center">
        <ul class="space-y-4">
          <li class="text-blue-500 cursor-pointer font-medium">Information</li>
          <li class="text-gray-500 cursor-pointer hover:text-blue-500">Account</li>
        </ul>
      </div>
    </div>
  
    <!-- Profile Details Section -->
    <div class="w-full md:w-3/4 mt-8 md:mt-0 ml-0 md:ml-8 bg-white p-6 shadow-lg rounded-lg">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-semibold">Personal Information</h2>
        <button class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Edit</button>
      </div>
      <form>
        <!-- About Section -->
        <div class="mb-4">
          <label class="block text-gray-600">About</label>
          <input type="text" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" [value]="this.men.about">
        </div>
        
        <!-- Personal Information Section -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label class="block text-gray-600">First Name</label>
            <input type="text" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" [value]="men.firstName">
          </div>
          <div>
            <label class="block text-gray-600">Middle Name</label>
            <input type="text" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" [value]="men.middleName">
          </div>
          <div>
            <label class="block text-gray-600">Last Name</label>
            <input type="text" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" [value]="men.lastName">
          </div>
          <div>
            <label class="block text-gray-600">Birthdate</label>
            <input type="text" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" [value]="men.birthDate">
          </div>
          <div>
            <label class="block text-gray-600">Mobile Phone</label>
            <input type="text" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" value="0123456789">
          </div>
          <div>
            <label class="block text-gray-600">National ID</label>
            <input type="text" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" value="01234567891011">
          </div>
          <div class="md:col-span-2">
            <label class="block text-gray-600">Facebook Link</label>
            <input type="text" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" value="www.facebook.com">
          </div>
        </div>
  
        <!-- Academic Information Section -->
        <div class="mt-8">
          <h2 class="text-2xl font-semibold mb-4">Academic Information</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label class="block text-gray-600">Collage</label>
              <input type="text" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" value="Faculty of Computers and AI">
            </div>
            <div>
              <label class="block text-gray-600">Year</label>
              <input type="text" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" value="First year">
            </div>
          </div>
  
          <div class="mt-4">
            <label class="block text-gray-600">List of camps</label>
            <div class="space-y-2">
              <div class="flex items-center space-x-2">
                <span class="text-blue-500"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 28.6661V23.5434L15.18 8.50207L13.6667 6.49674L14.7493 5.69141L16 7.39674L17.2773 5.69141L18.3333 6.49674L16.8467 8.50207L28 23.5421V28.6661H4ZM16 9.63274L5.33333 23.9741V27.3327H9.66667L16 18.4874L22.3333 27.3327H26.6667V23.9727L16 9.63274ZM11.3187 27.3327H20.6827L16 20.7794L11.3187 27.3327Z" fill="#3D91C7"/>
</svg>
                </span>
                <span>Summer training</span>
              </div>
              <div class="flex items-center space-x-2">
                <span class="text-blue-500"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 28.6661V23.5434L15.18 8.50207L13.6667 6.49674L14.7493 5.69141L16 7.39674L17.2773 5.69141L18.3333 6.49674L16.8467 8.50207L28 23.5421V28.6661H4ZM16 9.63274L5.33333 23.9741V27.3327H9.66667L16 18.4874L22.3333 27.3327H26.6667V23.9727L16 9.63274ZM11.3187 27.3327H20.6827L16 20.7794L11.3187 27.3327Z" fill="#3D91C7"/>
</svg>
                </span>
                <span>icp15</span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  