table {
  border-collapse: separate;
  border-spacing: 0px 12px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(252,245,233,1) 5%);
  padding: 0 20px;

}
