<table class="min-w-full  text-center">
  <thead>
    <tr class="bg-white text-[#0A0A0A] text-lg">
      <th class="px-4 py-2 text-left">Name</th>
      <th class="px-4 py-2">Handle</th>
      <th class="px-4 py-2">Mentor</th>
      <th class="px-4 py-2">Solve</th>
      <th class="px-4 py-2">Points</th>
    </tr>
  </thead>

  <tbody >
    <tr
      class="my-6 bg-[#41B253] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#41B253] flex items-center justify-center ">
            <div class=" absolute left-0 top-0 -translate-x-1/2 -translate-y-1/2">
              <img src="assets/img_trainee/star.svg">
            </div>
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#41B253] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#41B253] flex items-center justify-center ">
            <div class=" absolute left-0 top-0 -translate-x-1/2 -translate-y-1/2">
              <img src="assets/img_trainee/star.svg">
            </div>
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#E69C24] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#E69C24] flex items-center justify-center ">
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#E69C24] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#E69C24] flex items-center justify-center ">
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#EF4A50] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#EF4A50] flex items-center justify-center ">
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#EF4A50] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#EF4A50] flex items-center justify-center ">
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#EF4A50] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#EF4A50] flex items-center justify-center ">
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#EF4A50] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#EF4A50] flex items-center justify-center ">
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#EF4A50] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#EF4A50] flex items-center justify-center ">
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#EF4A50] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#EF4A50] flex items-center justify-center ">
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#EF4A50] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#EF4A50] flex items-center justify-center ">
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#EF4A50] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#EF4A50] flex items-center justify-center ">
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#EF4A50] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#EF4A50] flex items-center justify-center ">
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#EF4A50] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#EF4A50] flex items-center justify-center ">
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#EF4A50] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#EF4A50] flex items-center justify-center ">
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>
    <tr
      class="my-6 bg-[#EF4A50] text-white text-center text-base font-medium rounded-lg"
    >
      <td class="p-4 text-left rounded-l-lg">
        <div class="flex items-center gap-3">
          <div class=" relative size-7 bg-white rounded-[6px] text-[#EF4A50] flex items-center justify-center ">
            1
          </div>
          Sara Osama Shaker
        </div>
      </td>
      <td class="px-4 py-2">Sara_Almohnds</td>
      <td class="px-4 py-2">Kareem Abdelrahman</td>
      <td class="px-4 py-2">519 / 546</td>
      <td class="px-4 py-2 rounded-r-lg">2000</td>
    </tr>

  </tbody>
</table>
