
<section>
  <img
  ngSrc="assets/img_public/bg-hero-section.jpg"
  width="1524"
  height="773"
  class="background-image"
  alt="Background Hero Section"
  priority>

    <div class="overlay">
      <!--  text and content -->
      <h1>
        ICPC <span>SOHAG</span> OFFICIAL WEBSITE
      </h1>
      <p class="py-2 sm:py-4">
        Problem Solving Community seeking to spread programming fundamentals learning with students specifically and generally with anyone interested in programming and competitive programming.
        Join us and discover programming world and challenges
      </p>
    </div>


</section>
