<section class=" ">
  <div class="header flex flex-col items-center my-14 mb-24" >
    <h1>
      Current Camps
    </h1>
    <p>Top 3 Trainees</p>
  </div>
  <div class="content">
    <div class="flex flex-col gap-14 my-24 w-11/12 mx-auto">
      <!-- Swiper Container with Custom Navigation Buttons -->
      <div class="relative">
        <!-- Swiper Component -->
        <swiper [config]="config1">
          <ng-template swiperSlide>
            <p>dsfdsfds</p>
          </ng-template>
          <ng-template swiperSlide>
            <p>dsfdsfds</p>
          </ng-template>
          <ng-template swiperSlide>
            <p>dsfdsfds</p>
          </ng-template>
          <ng-template swiperSlide>
            <p>dsfdsfds</p>
          </ng-template>
          <ng-template swiperSlide>
            <p>dsfdsfds</p>
          </ng-template>
          <ng-template swiperSlide>
            <p>dsfdsfds</p>
          </ng-template>
        </swiper>

      </div>
    </div>

  </div>

</section>

