<footer class="footer-2 p-2 sm:p-6 mt-10 sm:mt-32">
  <div class="flex gap-4 sm:gap-10 py-6 px-4 sm:pt-14">
    <!-- First div with half the width of the others -->
      <div class="logo flex items-end sm:justify-end ">
        <img src="assets/img_public/logo-dark.svg" alt="icpc-logo">
      </div>
    <!-- Second div with double the width of the first -->
    <div class=" sm:ml-20">
      <div class="flex items-center contact-us">
        <div class=" flex flex-col items-start  gap-4">
          <h2 class="header">
            Contact Us
          </h2>
          <div class="flex items-center gap-1 sm:gap-2 cursor-pointer" (click)="openUrl('https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCJTKWlzkCCxCNsgQXQPjDnzXDtLHDsbJxFPFzXLgJstCZvdbfPHXRFmrTNBjBpMpCrzsWpg')">
             <span class="icon"><img src="assets/img_public/email.svg" ></span><span class="text">Icpc.sohag.community&#64;gmail.com</span>
          </div>
          <div class="flex items-center gap-1 sm:gap-2 cursor-pointer" (click)="openUrl('https://www.facebook.com/icpcsohag')">
             <span class="icon"><img src="assets/img_public/meta.svg"></span><span class="text">Meta</span>
          </div>
          <div class="flex items-center gap-1 sm:gap-2 cursor-pointer" (click)="openUrl('https://codeforces.com/profile/IcpcSohag')">
             <span class="icon"><img src="assets/img_public/chart.svg"></span><span class="text">CodeForce</span>
          </div>
          <div class="flex items-center gap-1 sm:gap-2 cursor-pointer" (click)="openUrl('https://www.linkedin.com/company/78806205/admin/dashboard/')">
             <span class="icon"><img src="assets/img_public/linkedin.svg"></span><span class="text">LinkedIn</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Third div with double the width of the first -->
      <div class="flex items-center justify-center location sm:w-1/2">
        <div class=" flex flex-col items-start justify-center self-start gap-4">
          <h2 class="header">
            Location
          </h2>
          <div class="flex items-center gap-1 sm:gap-2 cursor-pointer" (click)="openUrl('https://maps.app.goo.gl/ZnL4buV8GVb76x8m6')">
             <span class="icon"><img src="assets/img_public/location.svg"></span><span class="text">Sohag University, Egypt</span>
          </div>
        </div>
      </div>
    </div>
  <div class="footer self-center flex mt-10 sm:mt-28 mb-4 justify-between items-center w-2/3 sm:w-1/2 ml-auto sm:mr-36 ">
    <p class="sm:pt-5 min-w-fit">© 2024 ICPC SOHAG All rights reserved.</p>
    <div class="links flex items-center justify-end gap-3 sm:gap-8 mr-5 sm:mr-0">
      <span>Terms</span>
      <span>Privacy</span>
      <span>Cookies</span>
    </div>
  </div>

</footer>
