<div class="header-content flex justify-between items-center sm:flex-wrap md:flex-nowrap mt-3 md:mt-44 gap-5">

  <!-- Card for Current Sheet -->
  <div class="header-card w-full rounded-[12px] sm:w-[610px] min-h-fit sm:h-[22rem] shadow-[0px_1px_50px_0px_#00000014] cursor-pointer"
       (click)="openLink(currentSheet.sheetLink)">
    <a class="flex flex-col items-baseline justify-between w-full h-full p-3 sm:px-6 sm:py-3 rounded-lg shadow">
      <!-- Card Top Section -->
      <div class="top-card mt-3 sm:mt-12 flex flex-col w-full sm:block">
        <p class="md:text-2xl">Current Sheet</p>
        <h5 class="mt-3 sm:mt-8 mb-4 sm:mb-0 text-2xl md:text-[1.75rem] self-center sm:text-start text-center">
          {{ currentSheet ? currentSheet.name : 'No Sheet For Now'}}
        </h5>
      </div>
      <!-- Card Footer Section -->
      <div class="card-footer w-full flex justify-between px-1 sm:px-4 items-center">
        <div class="footer-text flex flex-col justify-between">
          <!-- Start Date -->
          <span class="flex items-center mb-2 sm:mb-4">
            <i class="fa-regular fa-clock mr-2"></i>
            <small>Starts in {{ currentSheet.startDate | formatDate }}</small>
          </span>
          <!-- End Date -->
          <span class="flex items-center mb-2 sm:mb-4">
            <i class="fa-solid fa-clock-rotate-left mr-2"></i>
            <small>Ended in {{currentSheet.endDate | formatDate}}</small>
          </span>
        </div>
        <!-- Problem Count -->
        <div class="bg-white rounded-full size-14 sm:size-20 flex justify-center items-center">
          <span class="text-[#93518D]">
            {{currentSheet ? currentSheet.problemSolvedCount : '0'}}/{{currentSheet ? currentSheet.problemCount : '0'}}
          </span>
        </div>
      </div>
    </a>
  </div>

  <!-- Card for Next Session -->
  <div class="header-card w-full rounded-[12px] sm:w-[610px] min-h-fit sm:h-[22rem] shadow-[0px_1px_50px_0px_#00000014] cursor-pointer"
       (click)="openLink(nextSession.locationLink)">
    <a class="flex flex-col items-baseline justify-between w-full h-full p-3 sm:px-6 sm:py-3 rounded-lg shadow">
      <!-- Card Top Section -->
      <div class="top-card mt-3 sm:mt-12 flex flex-col w-full sm:block">
        <p class="sm:text-xl">Next Session</p>
        <h5 class="mt-3 sm:mt-8 mb-2 sm:mb-0 text-2xl md:text-[1.75rem] self-center sm:text-start text-center">
          {{nextSession ? nextSession.topic : 'No Sessions Coming'}}
        </h5>
      </div>
      <!-- Card Footer Section -->
      <div class="card-footer w-full flex justify-between pl-2 sm:pl-4 items-center">
        <div class="footer-text flex flex-col justify-between">
          <!-- Session Dates -->
          <span class="flex items-center mb-1 sm:mb-2">
            <i class="fa-regular fa-clock mr-2"></i>
            <small class="hidden sm:block">{{formatEventDates(nextSession.startDate, nextSession.endDate,true)}}</small>
            <small class="block sm:hidden">{{formatEventDates(nextSession.startDate, nextSession.endDate,false)}}</small>

          </span>
          <!-- Instructor Name -->
          <span class="flex items-center mb-1 sm:mb-2">
            <i class="fa-regular fa-user mr-2"></i>
            <small>Instructor: {{nextSession.instructorName}}</small>
          </span>
          <!-- Topic -->
          <span class="flex items-center mb-1 sm:mb-2">
            <i class="fa-solid fa-book-open mr-2"></i>
            <small>Topic: {{nextSession.topic}}</small>
          </span>
          <!-- Location -->
          <span class="flex items-center">
            <i class="fa-solid fa-location-dot mr-2"></i>
            <small>Location: {{nextSession.locationName}}</small>
          </span>
        </div>
      </div>
    </a>
  </div>
  <!-- Card for Next Contest -->
  <div class="header-card w-full rounded-[12px] sm:w-[610px] min-h-[16rem] sm:h-[22rem]  shadow-[0px_1px_50px_0px_#00000014] cursor-pointer"
       (click)="openLink(inComingContest.link)">
    <a class="flex flex-col items-baseline justify-between w-full min-h-[16rem] sm:min-h-full p-3 sm:px-6 sm:py-3 rounded-lg shadow">
      <!-- Card Top Section -->
      <div class="top-card mt-3 sm:mt-12 flex flex-col w-full sm:block">
        <p class="sm:text-xl">Next Contest</p>
        <h5 class="mt-3 text-2xl sm:mt-8 sm:text-[2rem] self-center text-center sm:text-start">
          {{inComingContest.name ? inComingContest.name : 'No Contest '}}
        </h5>
      </div>
      <!-- Card Footer Section -->
      <div class="card-footer w-full pl-1">
        <div class="footer-text">
          <!-- Remaining Time -->
          <div>
            @if(days>0){
              <div class="flex items-center justify-around mb-2">
                <span class="text-xl sm:text-2xl">Before Start:</span>
                <span class="text-2xl sm:text-4xl font-bold">{{days}}</span>
                <span class="text-xl sm:text-2xl font-normal">D</span>
                <span class="text-2xl sm:text-4xl font-bold">{{hours}}</span>
                <span class="text-xl sm:text-2xl font-normal">H</span>
                <span class="text-2xl sm:text-4xl font-bold">{{min}}</span>
                <span class="text-xl sm:text-2xl font-normal">M</span>
              </div>
            }
            @else{
              <div class="flex items-center justify-around mb-2">
                <span class="text-xl sm:text-2xl">Before Start:</span>
                <span class="text-2xl sm:text-4xl font-bold">{{hours}}</span>
                <span class="text-xl sm:text-2xl font-normal">H</span>
                <span class="text-2xl sm:text-4xl font-bold">{{min}}</span>
                <span class="text-xl sm:text-2xl font-normal">M</span>
                <span class="text-2xl sm:text-4xl font-bold">{{second}}</span>
                <span class="text-xl sm:text-2xl font-normal">sec</span>
              </div>
            }
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
